input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, select {
  outline: none;
}

::placeholder {
  color: #cdd;
}