%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}

= render "messages/header"

.message-wrapper 
  .message-box
    = render "slider"

= render "messages/footer"