// Place all the styles related to the calenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

element.style {
  height: 121px;
}

#calendar {
  max-width: 1000px;
  height: 850px;
  margin:  0 auto;
  background-color: white;
}

.fc {
  direction: ltr;
  text-align: left;
}

.fc-toolbar {
  padding-top: 10px;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.fc-left {
  margin-left: 30px;
  h2 {
    font-size: 1.75em;
    margin: 0;
  }
}

.fc-center {
  height: 20px;
  width: 300px;
  margin: 0 auto;
  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
}

.fc-button-primary {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.fc-icon {
  font-family: fcicons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.fc-button-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  background-color: #2c3e50;
  border-color: #2c3e50;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fc-time {
  display: none;
}

.fc-view-container {
  position: relative;
}

.fc-view, .fc-view>table {
  position: relative;
  z-index: 1;
}

.fc-day-header {
  text-align: center;
}

.fc table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

.fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.fc .fc-row {
  border-style: solid;
  border-width: 0;
}

.fc-unthemed thead {
  border-color: #ddd;
}

.fc-row:first-child table {
  border-top: 0 hidden transparent;
}

.fc-content-skeleton {
  table {
    height: 120px;
  }
}

#calendarModal {
  width:60%;
  margin:10% auto 0;
  z-index:6;
  position:fixed;
  background:#fff;
  top:0;
  left:20%;
}