// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  height: 100%;
  background-image: image-url("xCUQpeQH8SDPrDs1575791827.jpg");
}

@media screen and (min-width:480px) { 
  /*　for iPhone Landscape　(iPhone 横)　*/
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .header {
    font-size: 20px;
  }
}

.wrapper {
  box-sizing: border-box;
}

.fa {
  display: block;
  width: 50px;
  height: 50px;
  color: #0099FF;
}

.grid{
  display: flex;
  margin-right: 20px;
  .grid-wrapper {
    .new-user{
      margin-left: 20px;
    } 
  }
  .user-wrapper {
    padding-right: 20px;
    margin-top: 30px;
    display: flex;
    a:hover {
      color: #0099FF;
    }
    a {
      margin-right: 20px;
      line-height: 30x;
      text-decoration: none;
      display: block;
      color: white;
    }
  }
  .grid-wrapper {
    display: flex;
    padding-right: 20px;
    margin-bottom: 0;
    .mypage:hover > .mypage-list {
      display: block;
    }
    .mypage {
      position: relative;
      margin-right: 20px;
      margin-top: 30px;
      .mypage-list{
        display: none;
        position: absolute;
        top: 38px;
        right: -90px;
        width: 170px;
        background-color: white;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        .mypage-calender {
          min-width: 150px;
          border-top: 1px solid #eee;
          white-space: nowrap;
          visibility: visible;
          opacity: 1;
          a:hover {
            background-color: #fafafa;
            color:  rgb(255, 115, 0);
          }
          a {
            display: block;
            padding: 10px 15px;
            font-size: 14px;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    .mypage:hover + .mypage-list {
      display: block;
    }
    a:hover {
      color: #0099FF;
    }
    a {
      line-height: 30x;
      text-decoration: none;
      display: block;
      color: white;
    }
    .logout {
      a {
        display: block;
        margin-top: 30px;
      }
    }
  }
}

.search {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 10px;
  width: 350px;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
  box-shadow:0 0 4px #666666;
  &__text {
    display: block;
    width: 300px;
    height:40px;
    border-width: 0;
  }
  &__btn {
    display: block;
    color: white;
    background-color: #FF1A6F;
    border-radius: 0 5px 5px 0;
    width: 50px;
    height: 40px;
  }
}

.header {
  width: 100%;
  background-color :#55c500;
  font-family: Helvetica ,"メイリオ",meiryo,sans-serif;
  height: 75px;
  display: flex;
  color: white;
  a {

    display: block;
  }
  &__wrapper {
    flex:1;
    display: flex;
    color: white;
    .top-page {
      margin-top: 20px;
      font-size: 20px;
      a {
        color: white;
      }
    }
    .header-diary {
      display: block;
      margin-top: 12px;
      color: white;
      text-decoration: none;
    }
    &__icon {
      padding: 25px 20px;
    }
  } 
  &__btn {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    text-decoration: none; 
  }
}


.data {
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  padding: 30px 100px;
  max-width: 1150px;
  margin: auto;
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8D32NVjJ8-vC-weN7fhitk6QdBoBTTWKmiL_NcTMxy1PEvvOD&s');
  &__databox {
    width: 290px;
    height: 290px;
    margin: 20px 10px;
    background-color: white;
    border: thick double #32a1ce;
    .messages-detail {
      height: 50px;
      width: 50px;
      background-color: red;
    }

    &__icon {
      display: block;
      width: 50px;
      height: 50px;
      &--pen-square {
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
    }

    &__btn {
      display: block;
      text-decoration: none;
      padding: 50px 35px;
      color: blue;
      width: 50%;
      border: 4mm ridge rgba(170, 50, 220, .6);
    }
  }
}

.footer {
  background-color :#55c500;
  height: 80px;
  width: 100%;
}

.mianpage-continer  {
  padding-left: 10px;
  .sliders {
    margin: 0 auto;
    height: 400px;
    background-image: url("https://crane-field.jp/wp-content/uploads/2018/06/20.jpg");
    .twiiter-slick {
      width: 900px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 50px;
      .twitter {
        font-size: 40px;
        // margin-left: 50px;
      }
      h1 {
        color: white;
        margin-left: 20px;
      }
    }
  }
}
