.data-wrapper {
  height: 1200px;
  max-width: 1000px;
  background-color: #111111;
  margin: 0 auto;
  padding: 0 30px;
  .container {
    width: 850px;
  }
  .formbox {
    height: 650px;
    width: 910px;
    background-color: white;
    border: solid;
    z-index: 1px;
    font-size: 15px;
    margin: 20px 10px;
    padding: 20px;
    .formbox-form {
      font-weight: bold;
        input {
          width: 800px;
          height: 50px;
        }
      .form {
        display: block;
        height: 20px;
        width: 300px;
        margin-bottom: 20px;
        margin-top: 20px;

      }
    }
    &__submit {
      background-color: #00CCFF;
      color: white;
      border-style: inset;
      margin-top: 20px;
      height: 50px;
      width: 200px;
      margin: 20px auto;
    }
  }
}
.select-message {
  width: 300px;
  height: 30px;
}