input {
  display: block;
  width: 600px;
  height: 50px;
}

.actions{
  margin-top: 20px;
  width: 600px;
  input {
    background-color: 	#0099FF;
    color: white;
    height: 50px;
    width: 200px;
    margin: 0 auto;
  }
}

em {
  display: block;
  color: red;
}

.signed-up {
  height: 1000px;
  width: 550px;
  margin: 0 auto;
  padding-top: 30px;

  h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
  ul {
    li {
      color: red;
    }
  }
}

.signed-wrapper {
  margin-left: 25px;
  margin-top: 50px;
  color: white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  .facebook {
    position: relative;
    border-radius: 4px;
    margin: 16px 0 0;
    background: #385185;
    color: #fff;
    a {
      color: white;
    }
  }
  .google {
    position: relative;
    border-radius: 4px;
    margin: 16px 0 0;
    background: #fff no-repeat 3px top;
    border: #979797 solid 1px;
    color: #333;
    a {
      color: #333;
    }
  }
}

.signedup-btn {
  height: 50px;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  a { 
    color: white;
  } 
}

.forgot-btn {
  height: 50px;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  a { 
    color: white;
  } 
}

.field {
  width: 400px;
  color: white;
  label {
    display: block;
    margin-top: 20px;
  }
}

a {
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.login-container {
  height: 800px;
  width: 550px;
  margin: 0 auto;
  padding-top: 50px;
  h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
}

.forgot-password {
  height: 800px;
  width: 550px;
  margin: 0 auto;
  padding-top: 50px;
  h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
}


