// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypages {
  height: 1000px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.mypages-container {
  height: 300px;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  .mypages-subtitle {
    padding-top: 50px;
    height: 100px;
  }
  .mypages-box {
    margin-left: 10px;
    height: 250px;
    width: 500px;
    .mypages-year {
      margin-bottom: 10px;
      width: 100px;
      height: 50px;
      display: flex;
    }
    .mypages-title-good {
      padding-left: 10px;
      height: 30px;
      width: 200px;
    }
    .message-correction  {
      width: 100px;
      height: 100px;  
      &__mypages-edit {
        width: 50px;
        height: 50px;
        display:block;
      }
      &__mypages-destory{
        width: 700px;
        height: 50px;
        display: block;
        a {
          text-align: right;
          display: block;
          color: #FF3366;
        }
      }
    }
  }
  .home-come {
    color: #0099FF;
    display: flex;
    justify-content: center;
    a {
      border-bottom-right-radius: 80px 80px;
      border: 1px solid #38aef0;
      height: 30px;
      width: 100px;
      display: block;
    }
  }
}



.section {
  background-color: white;
}
